body{
    background-color: #5E6472;
    margin: 1px;
    padding: 0px;
}

.hedder ul{
    display: inline-block;
    position: absolute;
    margin-top: 80px;
    margin-left: 280px;
}

.hedder ul li{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    
}

.hedder li:hover{
    transform: scale(1.1);
}

.hedder a{
    text-decoration: none;
    color: black;
}

.hedder a:hover{
    color: blue;
}

.hedder{
    background-image: linear-gradient(blue, black);
}

.Sobre-Mim{
    margin-bottom: 5%;
}

.Sobre-Mim p{
    font-size: 18px;
}

.habilidades{
    margin-bottom: 5%;
}
.habilidades ul li{
    font-size: 20px;
}

.projetos{
    margin-bottom: 5%;
}