#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    background-color: darkslategrey;
    box-shadow: 1px 1px 10px black;
}

#links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

#links a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: large;
}

#links :hover{
    color: blue;
    font-size: x-large;
}

#minha-foto {
    width: 10%;
}

#redes {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

#redes i{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 40px;
}

#redes :hover{
    color: blue;
    font-size: 45px;
}

#cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: baseline;
    background-color: rgb(239, 239, 239);
}

main {
    padding: 25px;
    background-color: rgb(239, 239, 239);
    text-align: center;
}

article p{
    font-family: monospace;
}

#habilidades {
    margin-top: 50px;
}

h4 {
    padding: 25px 0;
}

#hardskills li{
    list-style: none;
}

#hardskills ul :hover {
    color: blue;
    font-size: larger;
}

#softskills li{
    list-style: none;
}

#softskills ul :hover {
    color: pink;
    font-size: larger;
}